<a href="https://colab.research.google.com/github/Rahman17309/BatchFEB20/blob/main/python_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#dicitoners

In [5]:
dict1 = {'sohail':'rahman', 'uk':'10'}

In [6]:
dict1

{'sohail': 'rahman', 'uk': '10'}

In [8]:
stats = pd.read_csv('/content/DemographicData.csv')

In [9]:
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [10]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    195 non-null    object
 1   Country Code    195 non-null    object
 2   Birth rate      195 non-null    float64
 3   Internet users  195 non-null    float64
 4   Income Group    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [11]:
stats.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [12]:
stats.mean()

<ipython-input-12-856804538210>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stats.mean()

Birth rate        21.469928
Internet users    42.076471
dtype: float64

In [13]:
stats.median()

<ipython-input-13-c5d184c4f3e4>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stats.median()

Birth rate        19.68
Internet users    41.00
dtype: float64

In [14]:
stats.mode()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Afghanistan,ABW,10.2,35.0,High income
1,Albania,AFG,NaN,NaN,NaN
2,Algeria,AGO,NaN,NaN,NaN
3,Angola,ALB,NaN,NaN,NaN
4,Antigua and Barbuda,ARE,NaN,NaN,NaN
...,...,...,...,...,...
190,Virgin Islands (U.S.),WSM,NaN,NaN,NaN
191,West Bank and Gaza,YEM,NaN,NaN,NaN
192,"Yemen, Rep.",ZAF,NaN,NaN,NaN
193,Zambia,ZMB,NaN,NaN,NaN
194,Zimbabwe,ZWE,NaN,NaN,NaN

In [16]:
stats.columns #rename the columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

In [17]:
stats.columns = ['CountryName', 'CountryCode', 'Birthrate', 'Internetusers','IncomeGroup']

In [18]:
stats.columns

Index(['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup'],
      dtype='object')

In [19]:
stats[3:8]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income
6,Armenia,ARM,13.308,41.9,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4,High income

In [22]:
stats.iloc[[2,5],[1,3]] #find the indexcolumns

  CountryCode  Internetusers
2         AGO           19.1
5         ARG           59.9